*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgb(60, 32, 32);
  --secondary: rgba(201, 127, 127, 0.9);
  --tertiary: rgba(25, 22, 22, 0.656);
  --accent: rgba(255, 216, 216, 0.75);
}

body {
  color: var(--secondary);
  font-variant: small-caps;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body, #password:focus {
  background-color: var(--primary);
}

h1::selection, h2::selection, footer::selection, a::selection {
  color: var(--primary);
}

#password::selection {
  background-color: var(--secondary);
}

header, #password-generator, footer {
  text-shadow: 0 0 1vw var(--secondary);
}

#password-generator, #password {
  border-radius: 1rem;
  text-align: center;
}

#password-generator {
  background-color: var(--tertiary);
  box-shadow: 0 0 5vw var(--secondary);
  width: 80vw;
  margin: 5vh 0 2.5vh 0;
  padding: 5vw;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

#password {
  color: var(--primary);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 2.5vh;
  height: 7.75rem;
  margin: 2.5vh 0;
}

#password, .btn, a {
  transition: 1s;
}

#password, .btn {
  border: none;
  width: 100%;
  box-shadow: 0 0 2.5vw var(--secondary);
}

#password, .btn:active {
  background-color: var(--accent);
}

#password:focus {
  color: var(--accent);
  box-shadow: 0 0 2.5vw var(--primary), inset 0 0 2.5vw var(--accent);
  font-weight: bolder;
  text-shadow: 0 0 1vw var(--accent);
}

.btn {
  color: var(--primary);
  padding: .75vh 2vw;
  border-radius: .75rem;
  background-color: var(--secondary);
  text-shadow: 0 0 .75vw var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--accent);
  text-shadow: 0 0 1vw var(--secondary);
}

/* display.tablet */
@media screen and (min-width: 768px) {
  header {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  #password {
    margin: 5vh 0;
    height: 8rem;
  }

  #password, .btn {
    font-size: 1.25rem;
  }

  .btn {
    padding: 1.75vh;
  }
}

/* display.small-desktop */
@media screen and (min-width: 1024px) {
  header {
    font-size: 2rem;
  }

  .btn {
    padding: 2vh;
  }

  .btn:hover {
    background-color: var(--accent);
  }

  a:hover {
    color: var(--accent);
  }
}

/* display.large-desktop */
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 2.75rem;
  }
}