:root {
  --primary: rgb(60, 32, 32);
  --secondary: rgba(201, 127, 127, 0.9);
  --tertiary: rgba(25, 22, 22, 0.656);
  --accent: rgba(255, 216, 216, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}

/* typography */
footer {
  font-size: .75rem;
}

h1::selection, footer::selection, a::selection {
  color: var(--primary);
}

header, #password-generator, footer {
  text-shadow: 0 0 1vw var(--secondary);
}

#password-generator, #password {
  border-radius: 1rem;
  text-align: center;
}

/* box */
body {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body, #password:focus {
  background-color: var(--primary);
}

#password::selection {
  background-color: var(--secondary);
}
#password-generator {
  background-color: var(--tertiary);
  box-shadow: 0 0 5vw var(--secondary);
  width: 80vw;
  margin: 5vh 0 2.5vh 0;
  padding: 5vw 5vw 2.5vw 5vw;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

#password {
  color: var(--primary);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 2.5vh;
  height: 6rem;
  margin: 2.5vh 0;
  word-break: break-all;
}

#password, #generate, a {
  transition: 1s;
}

#password, #generate {
  border: none;
  width: 100%;
  box-shadow: 0 0 2.5vw var(--secondary);
}

#password, #generate:active {
  background-color: var(--accent);
}

#password:focus {
  color: var(--accent);
  box-shadow: 0 0 2.5vw var(--primary), inset 0 0 2.5vw var(--accent);
  font-weight: bolder;
  text-shadow: 0 0 1vw var(--accent);
}

#generator {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1vh 2vw;
  justify-content: center;
  align-items: center;
  margin: 2.5vh auto 5vh auto;
  text-align: left;
  font-size: 1rem;
}

#length-inputs {
  display: flex;
  align-items: center;
}

#range-slider {
  appearance: none;
  outline: none;
  margin: 0 1vw 0 0;
  opacity: 80%;
  height: 1.25vh;
  color: var(--tertiary);
  background-color: var(--accent);
  box-shadow: 0 0 1vw var(--accent);
  border-radius: 1rem;
}

#range-slider::-webkit-slider-thumb {
  background-color: var(--primary);
  box-shadow: 0 0 .75vw var(--primary);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
  border: none;
}

#numeric-input {
  background-color: var(--accent);
  box-shadow: 0 0 1vw var(--accent);
  width: 1.75rem;
  outline: none;
  border-radius: .2rem;
  border: none;
  color: var(--primary);
  text-shadow: 0 0 1.25vw var(--primary);
  text-align: center;
}

#numeric-input::-webkit-outer-spin-button,
#numeric-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#numeric-input[type=number] {
  -moz-appearance: textfield;
}

.checkmark {
  width: 1rem;
  height: 1rem;
  border-radius: .25rem;
  background-color: var(--accent);
  box-shadow: 0 0 2vw var(--accent);
}

/* note : checked not responding */
.checkmark:checked {
  background-color: var(--secondary);
}

#generate {
  color: var(--primary);
  margin-top: 1rem;
  padding: .75vh 2vw;
  border-radius: .75rem;
  background-color: var(--secondary);
  text-shadow: 0 0 .75vw var(--primary);
  grid-column: span 2;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--accent);
  text-shadow: 0 0 1vw var(--secondary);
}

/* display.tablet */
@media screen and (min-width: 768px) {
  header {
    font-size: 1.75rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  #password {
    margin: 5vh 0;
    height: 8rem;
  }

  #password, #generate {
    font-size: 1.25rem;
  }

  #generate {
    padding: 1.75vh;
  }
}

/* display.small-desktop */
@media screen and (min-width: 1024px) {
  #password-generator {
    margin: 2.25vh 0 .5vh 0;
    padding: 2.5vw 2.5vw .75vw 2.5vw;
    width: 75vh;    
  }

  header {
    font-size: 1.5rem;
  }

  #password, #generator, #generate {
    font-size: 1rem;
  }

  #password {
    height: 6rem;
  }

  #generator {
    width: 80%;
  }

  #generate:hover {
    background-color: var(--accent);
  }

  a:hover {
    color: var(--accent);
  }
}

/* display.large-desktop */
@media screen and (min-width: 1440px) {
  #password-generator {
    margin: 1vh 0 .5vh 0;
  }

  h1 {
    font-size: 2.75rem;
  }

  #generator, #generate {
    font-size: 1.25rem;
  }
}