:root {
  --primary: rgb(12, 3, 3);
  --secondary: rgb(241, 184, 184, 0.9);
  --accent: rgba(255, 216, 216, 0.9);
  --initial: rgba(60, 32, 32, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}

/* typography */
main {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary);
}

header, #password-display, #num-input, #generate-button {
  font-family: 'Share Tech Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 1s;
}

#password-display {
  word-break: break-all;
  font-variant: normal;
}

#password-display, #num-input, #generate-button {
  color: var(--primary);
  text-shadow: 0 0 .25rem var(--primary);
}

header, #generator-form, footer {
  text-shadow: 0 0 1vw var(--secondary);
}

main, #password-display, #num-input {
  text-align: center;
}

#generator-form {
  text-align: left;
}

#password-display::placeholder, #generate-button {
  color: var(--initial);
  text-shadow: 0 0 1.5vw var(--initial);
}

#password-display, #generate-button, #generator-form {
  font-size: 1rem;
}

footer {
  font-size: .5rem;
}

/* box */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary);
}

main {
  box-shadow: 0 0 5vw var(--secondary);
  width: 90vw;
  padding: 5vw 5vw 2.5vw 5vw;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main, #password-display, #num-slider {
  border-radius: 1rem;
}

#password-display {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 1rem;
  height: 8rem;
}

#password-display, #generate-button {
  background-color: var(--accent);
  box-shadow: inset 0 0 3vw var(--primary), 0 0 2.5vw var(--secondary);
  border: none;
  transition: 1s;
}

#generate-button {
  margin-top: 2rem;
  padding: .75vh;
  border-radius: .75rem;
  grid-column: span 2;
  cursor: pointer;
}

#generator-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#length-inputs {
  display: flex;
  align-items: center;
}

#num-slider, #num-input {
  background-color: var(--accent);
  box-shadow: 0 0 1vw var(--accent);
  outline: none;
}

#num-slider {
  appearance: none;
  margin: 0 1vw 0 0;
  height: .5rem;
}

#num-slider::-webkit-slider-thumb {
  background-color: var(--primary);
  box-shadow: 0 0 .75vw var(--primary);
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  border: none;
  border-radius: 50%;
}

#num-input {
  width: 1.75rem;
  border: none;
  border-radius: .2rem;
}

#num-input::-webkit-outer-spin-button,
#num-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.checkmark {
  width: 1rem;
  height: 1rem;
  border-radius: .25rem;
  background-color: var(--accent);
  box-shadow: 0 0 2vw var(--accent);
}

/* psuedoclasses */
body *::selection {
  color: var(--primary);
}

a:active,
a:hover {
  color: var(--accent);
  text-shadow: 0 0 1vw var(--accent);
}

#password-display::selection {
  background-color: var(--secondary);
}

#password-display:focus,
#generate-button:active,
#generate-button:hover {
  box-shadow: inset 0 0 1rem var(--primary), 0 0 1rem var(--accent);
}

#generate-button:active,
#generate-button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

/* display.mobile portrait-landscape */
@media screen and (min-height: 375px) and (orientation: landscape) {
  main {
    padding: 1.25vh 1.75vw .75vh 1.75vw;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95vw;
    grid-column-gap: 2vw;
  }

  header, footer {
    grid-column: span 2;
  }

  header {
    text-align: start;
  }

  #password-display {
    height: auto;
  }

  #num-slider {
    width: 10vw;
  }

  #generate-button {
    margin-top: 1rem;
  }
}

/* display.tablet */
@media screen and (min-width: 768px) {
  header {
    font-size: 1.75rem;
  }

  #password-display, #generate-button {
    font-size: 1.25rem;
  }

  #generate-button {
    padding: 1.75vw;
  }
}

/* display.desktop */
@media screen and (min-width: 1024px) {
  main {
    padding: 2.5vw 2.5vw .75vw 2.5vw;
  }
  
  header, #password-display {
    font-size: 1.5rem;
  }

 #generator-form {
    font-size: 1rem;
  }

  footer {
    font-size: .75rem;
  }

  #password-display {
    padding-top: 3rem;
  }
}