@font-face {
  font-family: 'Montserrat';
  src: url('../txt//Montserrat-ExtraLight.ttf') format('tff');
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url('../txt//ShareTechMono-Regular.ttf') format('tff');
}

:root {
  --primary: rgb(12, 3, 3);
  --secondary: rgb(241, 184, 184, 0.9);
  --accent: rgba(255, 216, 216, 0.9);
  --initial: rgba(60, 32, 32, 0.9);
  --box-shadow: 0 0 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* color */
*::selection {
  color: var(--primary);
}

/* typography */
main {
  color: var(--secondary);
  font-variant: small-caps;
}

footer, label {
  font-family: 'Montserrat', sans-serif;
}

header,
textarea,
#num-input,
button {
  font-family: 'Share Tech Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  color: var(--accent);
  text-shadow: 0 0 1vw var(--accent);
}

textarea {
  word-break: break-all;
  font-variant: normal;
}

textarea,
#num-input,
button {
  color: var(--primary);
  text-shadow: 0 0 .25rem var(--primary);
}

header,
form,
footer {
  text-shadow: 0 0 1vw var(--secondary);
}

main,
textarea,
#num-input {
  text-align: center;
}

form {
  text-align: left;
}

textarea::placeholder {
  color: var(--initial);
  text-shadow: 0 0 1.5vw var(--initial);
}

textarea,
button,
form {
  font-size: 1rem;
}

footer {
  font-size: .5rem;
}

/* box */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

main {
  box-shadow: var(--box-shadow) var(--secondary);
  padding: 1.25rem 1.25rem .25rem 1.25rem;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main,
textarea,
#num-slider {
  border-radius: 1rem;
}

textarea {
  padding: 1rem;
  height: 8rem;
  resize: none;
}

textarea:focus {
  box-shadow: inset var(--box-shadow) var(--primary), var(--box-shadow) var(--accent);
  outline: none;
}

textarea::selection {
  background-color: var(--secondary);
}

textarea,
button {
  background-color: var(--accent);
  box-shadow: inset var(--box-shadow) var(--primary);
  border: none;
}

button {
  margin-top: 2rem;
  padding: .75rem;
  border-radius: .75rem;
  grid-column: span 2;
  cursor: pointer;
}

button:active,
button:hover {
  box-shadow: inset var(--box-shadow) var(--primary), var(--box-shadow) var(--accent);
  color: var(--primary);
}

form {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  align-items: center;
}

#num-slider,
#num-input {
  background-color: var(--accent);
  box-shadow: var(--box-shadow) var(--accent);
  outline: none;
}

#num-slider {
  appearance: none;
  margin: 0 1vw 0 0;
  height: .5rem;
}

#num-slider::-webkit-slider-thumb {
  background-color: var(--primary);
  box-shadow: var(--box-shadow) var(--primary);
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  border: none;
  border-radius: 50%;
}

#num-input {
  width: 1.75rem;
  border: none;
  border-radius: .2rem;
}

#num-input::-webkit-outer-spin-button,
#num-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  border-radius: .25rem;
  background-color: var(--accent);
  box-shadow: var(--box-shadow) var(--accent);
}

/* display.tablet */
@media screen and (min-width: 768px) {
  a {
    transition: color 1s, text-shadow 1s;
  }

  header {
    font-size: 1.75rem;
  }

  textarea,
  button {
    font-size: 1.25rem;
    transition: box-shadow 1s;
  }

  button {
    padding: 1.75vw;
    transition: box-shadow 1s;
  }
}

/* display.desktop */
@media screen and (min-width: 1024px) {

  main {
    padding: 1.25vh 1.75vw .75vh 1.75vw;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95vw;
    grid-column-gap: 2vw;
  }

  footer {
    font-size: .75rem;
  }

  header {
    text-align: start;
  }

  header,
  footer {
    grid-column: span 2;
  }

  header,
  textarea {
    font-size: 1.5rem;
  }

  button {
    margin-top: 1rem;
  }

  form {
    font-size: 1rem;
  }

  textarea {
    padding-top: 3rem;
    height: auto;
  }
}